---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "about page",
	title: "About",
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="title mb-6">About</h1>
		<p class="mb-4">
			Hello, I'm Miles. I currently work in the retail technology sector as an application analyst
			and aspire to one day become a DevOps engineer. This website serves as my personal portfolio
			and blog about topics such as tech, culture, and modern life. I also have a plethora of other
			interests outside of tech such as fashion, reading, running, and the outdoors.
		</p>
		<br />
		<p class="mb-4">
			All views, thoughts, and opinions expressed on this site belong to me and do not reflect my
			previous or current employers.
		</p>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4">Things I Use</h2>
		<p class="mb-4"><b>Tools:</b> Python, PostgreSQL, Linux, GitHub Actions, Terraform, Git</p>
		<p class="mb-4">
			<b>Concepts:</b> Infrastructure as Code, Continuous Integration & Continuous Deployment, End-to-End
			Testing, Monitoring, OSI Model, DNS, DHCP
		</p>
		<p class="mb-4">
			<b>Services:</b> AWS - S3, Route 53, CloudFront, IAM, API Gateway, Lambda, DynamoDB, EC2, ELB
		</p>
		<p class="mb-4">
			Check out my <a
				aria-label="gitHub profile"
				class="cactus-link inline-block"
				href="https://github.com/MilesHoover"
				rel="noopener noreferrer"
				target="_blank">GitHub</a
			> here!
		</p>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4">Site Technology</h2>
		<p class="mb-4">
			This website was built using the web framework <a
				aria-label="Astro"
				class="cactus-link inline-block"
				href="https://astro.build/"
				rel="noopener noreferrer"
				target="_blank">Astro</a
			> paired with the <a
				aria-label="astro cactus theme"
				class="cactus-link inline-block"
				href="https://astro.build/themes/details/astro-cactus/"
				rel="noopener noreferrer"
				target="_blank">Astro Cactus theme</a
			>.
		</p>
		<br />
		<p class="mb-4">
			Outside of being hosted on Netlify, this site does not include any additional analytics.
		</p>
	</section>
</PageLayout>
